.storyList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.storyItem {
    margin-bottom: $paddingD2;
}

.storyLink {
    background: $brandWhite;
    border: 1px solid $brandWhite;
    display: block;
    line-height: 1;
    padding: $padding;

    &:hover {
        background: $brandBlue;
        border-color: darken($brandBlue, 10%);
        color: $brandWhite;
    }
}

.facebookLogin {
    background: $brandWhite;
    display: block;
    font-size: 40px;
    margin: $paddingX2 auto 0;
    max-width: 250px;
    padding: $paddingX2;
    text-align: center;

    &:hover {
        background: $brandBlue;
        color: $brandWhite;
    }
}

.facebookLoginText {
    display: block;
    font-family: $fontFamily;
    font-size: $lFontSize;
    margin-top: $padding;
}
