form {
    label {
        display: block;
        margin-bottom: $paddingD4;
    }

    input, 
    select, 
    button {
        box-sizing: border-box;
        display: block;
        padding: $paddingD2;
        width: 100%;
    }

    button {
        background: $brandBlue;
        border: none;
        color: $brandWhite;
        font-weight: 300;
        margin-top: $paddingX2;

        &:hover {
            background: darken($brandBlue, 10%);
        }
    }
}

.formGroup {
    margin-bottom: $padding;
}
