html {   
    background: $brandLightGrey;
    font-family: $fontFamily;
    font-size: $baseFontSize;
    line-height: 1.5;
}

a {
    color: $brandBlue;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        color: darken($brandBlue, 10%);
    }
}
