$padding: 20px;
$paddingX2: $padding * 2;
$paddingX4: $padding * 4;
$paddingX6: $padding * 6;
$paddingD2: $padding / 2;
$paddingD4: $padding / 4;

$baseFontSize: 16px;
$xlFontSize: 2rem;
$lFontSize: 1.5rem;
$sFontSize: 0.9rem;
$xsFontSize: 0.8rem;

$fontFamily: 'Lato', helvetica, sans-serif;

$brandBlue: #2D6ED0;

$siteHeaderNavHeight: 45px;
$siteHeaderBorderWidth: 1px;
$siteHeaderHeight: $siteHeaderNavHeight + $siteHeaderBorderWidth;

$siteFooterBorderWidth: 2px;
$siteNavHeight: 75px;
$siteFooterHeight: $siteNavHeight + $siteFooterBorderWidth;

$mainZIndex: 2;
$navZIndex: $mainZIndex - 1;

$brandWhite: #FFFFFF;
$brandLightGrey: #F5F5F5;
$brandDarkerLightGrey: darken($brandLightGrey, 20%);
$brandRed: red;
