main {
    -webkit-overflow-scrolling: touch;
    background: $brandLightGrey;
    bottom: 0;
    left: 0;
    margin-bottom: $siteFooterHeight;
    margin-top: $siteHeaderHeight;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    transition: margin 0.5s;
    z-index: $mainZIndex;

    .editMode & {
        margin-bottom: 0;
        margin-top: 0;
    }
}

.mainWrap {
    padding: $padding;
}
