.siteHeader {
    background: $brandWhite;
    border-bottom: $siteHeaderBorderWidth solid $brandDarkerLightGrey;
    left: 0;
    line-height: 1;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: $navZIndex;

    nav {
        @include tableNav($siteHeaderNavHeight);
    }
}

.backButton {
    $backButtonPadding: $paddingD4;

    bottom: 0;
    font-size: $siteHeaderNavHeight - ($backButtonPadding * 2);
    left: 0;
    line-height: 1;
    padding: $backButtonPadding $padding;
    position: absolute;
    top: 0;
}

.pageTitle {
    font-size: $lFontSize;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
