.siteFooter {
    background: $brandBlue;
    border-top: $siteFooterBorderWidth solid darken($brandBlue, 10%);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: $navZIndex;
}

.siteNav {
    @include tableNav($siteNavHeight);

    li {
        width: 20%;
    }

    a {
        color: $brandWhite;
        display: block;
        font-size: $lFontSize;
    }

    span {
        display: block;
        font-family: $fontFamily;
        font-size: $xsFontSize;
        margin-top: $paddingD4;
    }
}
