
$storyActionBottomPadding: $padding;

$storyActionFontsize: $baseFontSize;
$storyActionPadding: $padding;
$storyActionBorderWidth: 1px;

$storyActionHeight: $storyActionFontsize + (($storyActionPadding + $storyActionBorderWidth) * 2);

.storyAction {
    border-radius: 0;
    border-style: solid;
    border-width: $storyActionBorderWidth;
    bottom: $siteFooterHeight + $storyActionBottomPadding;
    display: block;
    font-size: $storyActionFontsize;
    left: $padding;
    line-height: 1;
    padding: $storyActionPadding;
    position: fixed;
    right: $padding;
    text-align: center;
    z-index: 3;

    .editMode & {
        bottom: $storyActionBottomPadding;
    }
}

button {
    &.storyAction {
        background: $brandBlue;
        border-color: darken($brandBlue, 10%);
        color: $brandWhite;

        &:hover {
            background: darken($brandBlue, 10%);
        }
    }
}

span {
    &.storyAction {
        background: $brandWhite;
        border-color: $brandDarkerLightGrey;
    }
}

.storyWrap {
    margin-bottom: $storyActionHeight + $padding;
    overflow: hidden;
    position: relative;

    .editMode & {
        margin-bottom: 50vh;
    }
}

@keyframes flickerAnimation {
    0% {
        opacity: 1; 
    }

    50% { 
        opacity: 0; 
    }

    100% { 
        opacity: 1; 
    }
}

.story {
    position: relative;
    z-index: 2;

    > * {
        display: inline;

        // &:last-child:after {
        //  display: none;

        //  .editMode & {
        //      display: inline;
        //      content: "|";
        //      color: $brandBlue;
        //      animation: flickerAnimation 1s infinite;
        //  }

        // }
    }
}

.currentEntry {
    display: none;

    &:after {
        display: inline;
        content: "|";
        color: $brandBlue;
        animation: flickerAnimation 1s infinite;
    }
}

.contentEdit {
    bottom: 0;
    left: -1000px;
    opacity: 0;
    position: absolute;  
    width: 100vw;
}

.storyStatus {
    display: block;
    margin-top: $padding;
    color: $brandRed;
}

.tapMessage {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.75);
    display: table;
    width: 100%;
    height: 100%;

    > * {
        display: table-row;

        > * {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            font-size: $xlFontSize;
            color: $brandRed;
        }
    }
}
