extends ../sublayouts/layout 

block content
    form(id='addStoryForm', method='post', action='')
        div(class='formGroup')
            label Story Codename
            input(name='codename', type='text', placeholder='Dibble')
                
        div(class='formGroup')
            label Authors
            select(name='authors', multiple)
                each user in users
                    option(value='#{user.id}') #{user.display_name}

        div(class='formGroup')
            label Entry Time
            select(name='entryTime')
                option(value='10') 10 Sec
                option(value='15') 15 Sec
                option(value='20', selected) 20 Sec
                option(value='25') 25 Sec
                option(value='30') 30 Sec

        div(class='formGroup')
            label Visibility
            select(name='visibility')
                option(value='public') Public
                option(value='authors') Authors Only

        input(type='hidden', name='action', value='addStory')

        button(type='submit') Start Story