extends ../sublayouts/layout

block content
    //- If there are stories show them, otherwise tell the user to add a story
    if stories
        ul(class='storyList')

            each val in stories
                li(class='storyItem') 
                    a(class='storyLink', href='/story/#{val.id}') #{val.codename}
    else
        p Welcome to Improv Stories, <a href="/add-story">start a new story</a> or <a href="/invite">invite friends to join</a>.