extends ../sublayouts/layout

block content
  section(class='objects')
  footer(class='Footer')
    nav(class='Footer-nav')
      ul(class='Footer-list')
        li(class='Footer-item')
          a(class='Footer-link')
            span(class='Footer-text') Home
        li(class='Footer-item')
          a(class='Footer-link')
            span(class='Footer-text') Lists
        li(class='Footer-item')
          a(class='Footer-link')
            span(class='Footer-text') Schedule
        li(class='Footer-item')
          a(class='Footer-link')
            span(class='Footer-text') Filter
        li(class='Footer-item')
          a(class='Footer-link')
            span(class='Footer-text') Settings