extends ../sublayouts/layout

block content
    header

    div(class='storyWrap')
        article(id='story', class="story", data-entry-time="#{entryTime}")
            each val in entries
                div(data-user-id='#{val.user_id}', data-user-name='Charlie Jackson') !{val.content}
            div(id='lastEntry')
            div(id='currentEntry', class='currentEntry')
            div(id='storyStatus', class='storyStatus')
        form(class="contentEdit")
            textarea(id='contentEditText', class='contentEditText', autocomplete='off', autocorrect='off', autocapitalize='none', spellcheck='false', disabled)

    //- If the user can take a turn the show the button, otherwise tell the user it's not their turn yet
    if userTurn
        button(id='storyAction', class="storyAction") Take your turn
    else
        span(id='storyAction', class="storyAction") It is not your turn yet