doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        link(rel='stylesheet', href='/stylesheets/style.min.css')
            
    body
        main
            block content 
        
        script(async, src="//cdn.embedly.com/widgets/platform.js", charset="UTF-8")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
        script(src='/javascripts/script.min.js')                      