doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        title= title

        link(href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='/stylesheets/lib.min.css')
        link(rel='stylesheet', href='/stylesheets/style.min.css')
        script(src='https://www.google.com/recaptcha/api.js')
            
    body
        header(class='siteHeader')
            nav
                ul
                    li
                        //- If a back button is specified then include it
                        if back
                            a(class='backButton fa fa-angle-left', href='#{back}')

                        //- If a title is specified then use it, otherwise use the default title
                        if title
                            h1(class='pageTitle') #{title}
                        else 
                            h1(class='pageTitle') Improv Stories
        main
            div(id='mainWrap', class='mainWrap')
                block content

        footer(class='siteFooter')
            nav(class='siteNav')
                ul
                    //- If the page is a story page the show the story menu, otherwise show the main menu
                    if page == 'story'
                        li
                            a(class='fa fa-play')
                                span Play
                        li
                            a(class='fa fa-angle-up')
                                span To Top
                        li
                            a(class='fa fa-angle-down')
                                span To Bottom
                        li
                            a(class='fa fa-share')
                                span Share
                        li
                            a(class='fa fa-bars')
                                span More
                    else
                        li
                            a(class='fa fa-home', href='/')
                                span Dashboard
                        li
                            a(class='fa fa-plus', href='/add-story')
                                span New
                        li
                            a(class='fa fa-users', href='/users')
                                span Users
                        li
                            a(class='fa fa-user', href='/profile')
                                span Profile
                        li
                            a(class='fa fa-bell', href='/notifications')
                                span Notifications  
   
        script(src='/javascripts/script.min.js')                      